In [4]:
from src import GraphCreation

Note: to be able to use all crisp methods, you need to install some additional packages:  {'graph_tool', 'bayanpy', 'infomap', 'wurlitzer'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'pyclustering', 'ASLPAw'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'infomap', 'wurlitzer'}

In [5]:
import os
os.environ['OPENAI_API_KEY']= open("api_key","r").read().strip()

In [3]:
import networkx as nx
chunks, g =GraphCreation.create_KG_from_folder("folder/")

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv("fresh.csv")
train, test = train_test_split(data, test_size=0.1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 110 to 195
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              60 non-null     int64
 1   split           60 non-null     object
 2   question        60 non-null     object
 3   effective_year  60 non-null     object
 4   next_review     35 non-null     object
 5   false_premise   60 non-null     bool
 6   num_hops        60 non-null     object
 7   fact_type       60 non-null     object
 8   source          60 non-null     object
 9   answer_0        60 non-null     object
 10  answer_1        24 non-null     object
 11  answer_2        10 non-null     object
 12  answer_3        3 non-null      object
 13  answer_4        2 non-null      object
 14  answer_5        2 non-null      object
 15  answer_6        2 non-null      object
 16  answer_7        2 non-null      object
 17  answer_8        2 non-null      object
 18  answer_9        2 non-null      object
 19  note            0 non-null      float64
dtypes: bool(1), float64(1), int64(1), object(17)
memory usage: 9.4+ KB

In [7]:
GraphCreation.bm.bench_mark_from_dataset(test,"source",'answer_0','question',output_file="right/")

Number of chunks: 19
['']
right/0/graph.html
right/0/clustered_graph.html
Number of chunks: 22
right/1/graph.html
right/1/clustered_graph.html
Number of chunks: 146
['script part of', 'film']
['']
['']
['']
['']
right/2/graph.html
right/2/clustered_graph.html
Number of chunks: 101
['```']
['```']
['']
['march 26 2021', 'reported in']
right/3/graph.html
right/3/clustered_graph.html
Number of chunks: 62
['could not find table']
right/4/graph.html
right/4/clustered_graph.html
Number of chunks: 150
['']
['']
['']
['']
['']
['```plaintext']
['```']
right/5/graph.html
right/5/clustered_graph.html
Number of chunks: 160
['']
['']
['']
['']
['']
['shonda rhimes', 'created scandal  ']
right/6/graph.html
right/6/clustered_graph.html
Error
Number of chunks: 314
['']
['snapshots of the extended information ']
['prisecaptured by', 'blockade']
['']
['']
['']
['']
['blockade', 'opposed confederate states']
['']
['']
['']
['']
right/8/graph.html
right/8/clustered_graph.html
Number of chunks: 110
['']
['```plaintext']
['```']
right/9/graph.html
right/9/clustered_graph.html
Number of chunks: 3
['']
right/10/graph.html
right/10/clustered_graph.html
Number of chunks: 40
right/11/graph.html
right/11/clustered_graph.html
<table class="table-wrapper">
</table>
Number of chunks: 5
['']
right/12/graph.html
right/12/clustered_graph.html
Number of chunks: 153
['coastal bend located in', 'texas']
['']
['tammy.affects', 'bermuda islands']
right/13/graph.html
right/13/clustered_graph.html
Number of chunks: 24
right/14/graph.html
right/14/clustered_graph.html
Error
Error
Number of chunks: 69
['']
['미�']
right/17/graph.html
right/17/clustered_graph.html
Number of chunks: 62
['option leave eurozone treaties', 'involvesimplicit right']
['']
['']
['chunk 1:']
['']
['chunk 2:']
['']
['chunk 3:']
['']
['chunk 4:']
['']
['new nodes and edges:']
right/18/graph.html
right/18/clustered_graph.html
Number of chunks: 32
right/19/graph.html
right/19/clustered_graph.html

In [1]:
import pandas as pd
data = pd.read_csv("/Users/christopheroosthuizen/project/GraphCreator/output/results.csv")
data.head()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag,base_line,graph,rag,source,answer,question
0,0,0,0.112286,0.136231,0,0.136231,0.112286,the most recent winner of the tour de france (...,The most recent winner of the Tour de France i...,"Jonas Vingegaard, the most recent winner of th...",https://en.wikipedia.org/wiki/List_of_Tour_de_...,1996,When was the most recent winner of the Tour de...
1,1,0,0.252681,0.187307,0,0.187307,0.252681,"as of my last update in october 2023, the most...",The upcoming International Mathematical Olympi...,The upcoming International Mathematical Olympi...,https://en.wikipedia.org/wiki/International_Ma...,Bath,Where will the upcoming International Mathemat...
2,2,0,0.336332,0.132525,0,0.132525,0.336332,"as of my last update in 2023, there are nine m...","In the United States, there are eight major fo...",Nine food allergens with mandatory labeling ar...,https://en.wikipedia.org/wiki/Food_allergy#Reg...,9,How many food allergens with mandatory labelin...
3,3,0,-0.964923,-0.044941,0,-0.044941,-0.964923,"as of my latest update in october 2023, the la...",The largest passenger airplane is the Airbus A...,The largest passenger airplane is the Airbus A...,https://en.wikipedia.org/wiki/Airbus_A380#:~:t...,Airbus A380,What is the largest passenger airplane?
4,4,0,0.994754,0.242285,0,0.242285,0.994753,the real name of the author george eliot was m...,The real name of the author George Eliot was M...,Mary Ann Cross.,https://en.wikipedia.org/wiki/George_Eliot#:~:...,Mary Ann Evans,What was the real name of the author George El...

In [2]:
data.describe()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag
count,16.000000,16.0,16.000000,16.000000,16.0,16.000000,16.000000
mean,7.500000,0.0,0.142160,0.005971,0.0,0.005971,0.142160
std,4.760952,0.0,0.518350,0.194994,0.0,0.194994,0.518350
min,0.000000,0.0,-0.964923,-0.331609,0.0,-0.331609,-0.964923
25%,3.750000,0.0,0.002943,-0.115351,0.0,-0.115351,0.002943
50%,7.500000,0.0,0.270251,-0.001007,0.0,-0.001007,0.270251
75%,11.250000,0.0,0.376355,0.149000,0.0,0.149000,0.376355
max,15.000000,0.0,0.994754,0.294260,0.0,0.294260,0.994753