In [1]:
from src import GraphCreation

Note: to be able to use all crisp methods, you need to install some additional packages:  {'wurlitzer', 'infomap', 'bayanpy', 'graph_tool'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'ASLPAw', 'pyclustering'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'wurlitzer', 'infomap'}
llmstart
llmend

In [2]:
import os
os.environ['OPENAI_API_KEY']= open("api_key","r").read().strip()

In [3]:
import networkx as nx
chunks, g =GraphCreation.create_KG_from_url("https://en.wikipedia.org/wiki/Mckenna_Grace")

Number of chunks: 83
['highlighted by', 'anderson erik']
['highlighted by', 'june 30 2023']
./output//graph.html
./output//clustered_graph.html

In [5]:
import pandas as pd
data = pd.read_csv("/Users/christopheroosthuizen/project/GraphCreator/output/results.csv")
data.head()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag,base_line,graph,rag,source,answer,question
0,0,0,0.112286,0.136231,0,0.136231,0.112286,the most recent winner of the tour de france (...,The most recent winner of the Tour de France i...,"Jonas Vingegaard, the most recent winner of th...",https://en.wikipedia.org/wiki/List_of_Tour_de_...,1996,When was the most recent winner of the Tour de...
1,1,0,0.252681,0.187307,0,0.187307,0.252681,"as of my last update in october 2023, the most...",The upcoming International Mathematical Olympi...,The upcoming International Mathematical Olympi...,https://en.wikipedia.org/wiki/International_Ma...,Bath,Where will the upcoming International Mathemat...
2,2,0,0.336332,0.132525,0,0.132525,0.336332,"as of my last update in 2023, there are nine m...","In the United States, there are eight major fo...",Nine food allergens with mandatory labeling ar...,https://en.wikipedia.org/wiki/Food_allergy#Reg...,9,How many food allergens with mandatory labelin...
3,3,0,-0.964923,-0.044941,0,-0.044941,-0.964923,"as of my latest update in october 2023, the la...",The largest passenger airplane is the Airbus A...,The largest passenger airplane is the Airbus A...,https://en.wikipedia.org/wiki/Airbus_A380#:~:t...,Airbus A380,What is the largest passenger airplane?
4,4,0,0.994754,0.242285,0,0.242285,0.994753,the real name of the author george eliot was m...,The real name of the author George Eliot was M...,Mary Ann Cross.,https://en.wikipedia.org/wiki/George_Eliot#:~:...,Mary Ann Evans,What was the real name of the author George El...

In [6]:
data.describe()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag
count,16.000000,16.0,16.000000,16.000000,16.0,16.000000,16.000000
mean,7.500000,0.0,0.142160,0.005971,0.0,0.005971,0.142160
std,4.760952,0.0,0.518350,0.194994,0.0,0.194994,0.518350
min,0.000000,0.0,-0.964923,-0.331609,0.0,-0.331609,-0.964923
25%,3.750000,0.0,0.002943,-0.115351,0.0,-0.115351,0.002943
50%,7.500000,0.0,0.270251,-0.001007,0.0,-0.001007,0.270251
75%,11.250000,0.0,0.376355,0.149000,0.0,0.149000,0.376355
max,15.000000,0.0,0.994754,0.294260,0.0,0.294260,0.994753

In [ ]:
n=20
list_df = [data[i:i+n] for i in range(0,len(data),n)]