In [1]:
from src import GraphCreation

Note: to be able to use all crisp methods, you need to install some additional packages:  {'bayanpy', 'wurlitzer', 'infomap', 'graph_tool'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'ASLPAw', 'pyclustering'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'wurlitzer', 'infomap'}

In [2]:
import os
os.environ['OPENAI_API_KEY']= open("api_key","r").read().strip()

In [4]:
import networkx as nx
chunks, g =GraphCreation.create_KG_from_url("https://en.wikipedia.org/wiki/Knight_of_the_shire", compression=0.3, thread_count=1)

Number of chunks: 1
['']
['']
./output//graph.html
Could not cluster graph.

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv("fresh.csv")
train, test = train_test_split(data, test_size=0.1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 110 to 195
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              60 non-null     int64
 1   split           60 non-null     object
 2   question        60 non-null     object
 3   effective_year  60 non-null     object
 4   next_review     35 non-null     object
 5   false_premise   60 non-null     bool
 6   num_hops        60 non-null     object
 7   fact_type       60 non-null     object
 8   source          60 non-null     object
 9   answer_0        60 non-null     object
 10  answer_1        24 non-null     object
 11  answer_2        10 non-null     object
 12  answer_3        3 non-null      object
 13  answer_4        2 non-null      object
 14  answer_5        2 non-null      object
 15  answer_6        2 non-null      object
 16  answer_7        2 non-null      object
 17  answer_8        2 non-null      object
 18  answer_9        2 non-null      object
 19  note            0 non-null      float64
dtypes: bool(1), float64(1), int64(1), object(17)
memory usage: 9.4+ KB

In [7]:
GraphCreation.bm.bench_mark_from_dataset(test,"source",'answer_0','question',output_file="right/")

Number of chunks: 19
['']
right/0/graph.html
right/0/clustered_graph.html
Number of chunks: 22
right/1/graph.html
right/1/clustered_graph.html
Number of chunks: 146
['script part of', 'film']
['']
['']
['']
['']
right/2/graph.html
right/2/clustered_graph.html
Number of chunks: 101
['```']
['```']
['']
['march 26 2021', 'reported in']
right/3/graph.html
right/3/clustered_graph.html
Number of chunks: 62
['could not find table']
right/4/graph.html
right/4/clustered_graph.html
Number of chunks: 150
['']
['']
['']
['']
['']
['```plaintext']
['```']
right/5/graph.html
right/5/clustered_graph.html
Number of chunks: 160
['']
['']
['']
['']
['']
['shonda rhimes', 'created scandal  ']
right/6/graph.html
right/6/clustered_graph.html
Error
Number of chunks: 314
['']
['snapshots of the extended information ']
['prisecaptured by', 'blockade']
['']
['']
['']
['']
['blockade', 'opposed confederate states']
['']
['']
['']
['']
right/8/graph.html
right/8/clustered_graph.html
Number of chunks: 110
['']
['```plaintext']
['```']
right/9/graph.html
right/9/clustered_graph.html
Number of chunks: 3
['']
right/10/graph.html
right/10/clustered_graph.html
Number of chunks: 40
right/11/graph.html
right/11/clustered_graph.html
<table class="table-wrapper">
</table>
Number of chunks: 5
['']
right/12/graph.html
right/12/clustered_graph.html
Number of chunks: 153
['coastal bend located in', 'texas']
['']
['tammy.affects', 'bermuda islands']
right/13/graph.html
right/13/clustered_graph.html
Number of chunks: 24
right/14/graph.html
right/14/clustered_graph.html
Error
Error
Number of chunks: 69
['']
['미�']
right/17/graph.html
right/17/clustered_graph.html
Number of chunks: 62
['option leave eurozone treaties', 'involvesimplicit right']
['']
['']
['chunk 1:']
['']
['chunk 2:']
['']
['chunk 3:']
['']
['chunk 4:']
['']
['new nodes and edges:']
right/18/graph.html
right/18/clustered_graph.html
Number of chunks: 32
right/19/graph.html
right/19/clustered_graph.html

In [10]:
import pandas as pd
data = pd.read_csv("/Users/christopheroosthuizen/project/GraphCreator/right/results.csv")
data_augment= pd.read_csv("/Users/christopheroosthuizen/project/GraphCreator/output/results.csv")
data = pd.concat([data,data_augment])
data.head()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag,base_line,graph,rag,source,answer,question
0,0,0,0.085208,-0.215635,0,-0.215635,0.085208,"as of my last update in october 2021, kanye we...",The shoe company that signed Kanye West to a n...,Adidas signed Kanye West to a new multibillion...,https://www.forbes.com/sites/mattsymonds/2022/...,He was actually dropped by many companies for ...,What shoe company signed Kanye West to a new m...
1,1,0,0.000033,-0.040840,0,-0.040840,0.000033,"as of my most recent update in october 2023, t...",The latest Academy Award for Best Animated Fea...,"""The Boy and the Heron"" won the latest Academy...",https://en.wikipedia.org/wiki/Academy_Award_fo...,The Boy and the Heron,What won the latest Academy Award for Best Ani...
2,2,0,0.027396,0.036577,0,0.036577,0.027396,"the movie ""jaws"" was directed by steven spielb...","The movie ""Jaws"" was directed by Steven Spielb...",Steven Spielberg directed the movie Jaws.,https://en.wikipedia.org/wiki/Jaws_(film)#:~:t...,Steven Spielberg,Who directed the movie Jaws?
3,3,0,0.350776,0.603392,0,0.603392,0.350776,as of my knowledge cutoff date in october 2023...,Jeff Bezos did not sell Amazon. He founded Ama...,Repeat,https://en.wikipedia.org/wiki/Amazon_(company)...,Jeff Bezos is still the current owner of Amazon.,When did Jeff Bezos sell Amazon?
4,4,0,0.792904,0.953715,0,0.953715,0.792904,"as of my last update in october 2023, there ar...",The Eurozone consists of 19 member states with...,There are 20 member states in the Eurozone.,https://en.wikipedia.org/wiki/Eurozone#:~:text...,20,How many member states are there in the Eurozone?

In [11]:
data.describe()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag
count,33.000000,33.0,33.000000,33.000000,33.0,33.000000,33.000000
mean,7.757576,0.0,0.200030,0.115608,0.0,0.115608,0.200030
std,4.841425,0.0,0.491886,0.394356,0.0,0.394356,0.491886
min,0.000000,0.0,-0.964923,-0.996992,0.0,-0.996992,-0.964923
25%,4.000000,0.0,0.005762,-0.075201,0.0,-0.075201,0.005762
50%,8.000000,0.0,0.287820,0.030337,0.0,0.030337,0.287820
75%,12.000000,0.0,0.418390,0.285152,0.0,0.285152,0.418390
max,16.000000,0.0,0.994754,0.985688,0.0,0.985689,0.994753

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             33 non-null     int64
 1   Judges_over_base       33 non-null     int64
 2   Follows_over_rag       33 non-null     float64
 3   Follows_over_base      33 non-null     float64
 4   Judges_over_rag        33 non-null     int64
 5   Controdicts_over_base  33 non-null     float64
 6   Controdicts_over_rag   33 non-null     float64
 7   base_line              33 non-null     object
 8   graph                  33 non-null     object
 9   rag                    33 non-null     object
 10  source                 33 non-null     object
 11  answer                 33 non-null     object
 12  question               33 non-null     object
dtypes: float64(4), int64(3), object(6)
memory usage: 3.6+ KB