In [1]:
from src import GraphCreation

Note: to be able to use all crisp methods, you need to install some additional packages:  {'graph_tool', 'wurlitzer', 'bayanpy', 'infomap'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'pyclustering', 'ASLPAw'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'wurlitzer', 'infomap'}

In [2]:
import os
os.environ['OPENAI_API_KEY']= open("api_key","r").read().strip()
GraphCreation.LLM.set_model("gpt-4o")

In [3]:
import networkx as nx
chunks, g =GraphCreation.create_KG_from_url("https://en.wikipedia.org/wiki/Knight_of_the_shire", compression=0.8, thread_count=50,output_file="KGs")

Number of chunks: 44
['']
['']
KGs/graph.html
KGs/clustered_graph.html

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv("fresh.csv")
train, test = train_test_split(data, test_size=0.1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 110 to 195
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              60 non-null     int64
 1   split           60 non-null     object
 2   question        60 non-null     object
 3   effective_year  60 non-null     object
 4   next_review     35 non-null     object
 5   false_premise   60 non-null     bool
 6   num_hops        60 non-null     object
 7   fact_type       60 non-null     object
 8   source          60 non-null     object
 9   answer_0        60 non-null     object
 10  answer_1        24 non-null     object
 11  answer_2        10 non-null     object
 12  answer_3        3 non-null      object
 13  answer_4        2 non-null      object
 14  answer_5        2 non-null      object
 15  answer_6        2 non-null      object
 16  answer_7        2 non-null      object
 17  answer_8        2 non-null      object
 18  answer_9        2 non-null      object
 19  note            0 non-null      float64
dtypes: bool(1), float64(1), int64(1), object(17)
memory usage: 9.4+ KB

In [ ]:
GraphCreation.bm.bench_mark_from_dataset(test,"source",'answer_0','question',output_file="right/")

Number of chunks: 19
['']
right/0/graph.html
right/0/clustered_graph.html
Number of chunks: 22
right/1/graph.html
right/1/clustered_graph.html
Error

In [ ]:
import pandas as pd
data = pd.read_csv("/Users/christopheroosthuizen/project/GraphCreator/right/results.csv")
data_augment= pd.read_csv("/Users/christopheroosthuizen/project/GraphCreator/output/results.csv")
data = pd.concat([data,data_augment])
data.head()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag,base_line,graph,rag,source,answer,question
0,0,0,0.085208,-0.215635,0,-0.215635,0.085208,"as of my last update in october 2021, kanye we...",The shoe company that signed Kanye West to a n...,Adidas signed Kanye West to a new multibillion...,https://www.forbes.com/sites/mattsymonds/2022/...,He was actually dropped by many companies for ...,What shoe company signed Kanye West to a new m...
1,1,0,0.000033,-0.040840,0,-0.040840,0.000033,"as of my most recent update in october 2023, t...",The latest Academy Award for Best Animated Fea...,"""The Boy and the Heron"" won the latest Academy...",https://en.wikipedia.org/wiki/Academy_Award_fo...,The Boy and the Heron,What won the latest Academy Award for Best Ani...
2,2,0,0.027396,0.036577,0,0.036577,0.027396,"the movie ""jaws"" was directed by steven spielb...","The movie ""Jaws"" was directed by Steven Spielb...",Steven Spielberg directed the movie Jaws.,https://en.wikipedia.org/wiki/Jaws_(film)#:~:t...,Steven Spielberg,Who directed the movie Jaws?
3,3,0,0.350776,0.603392,0,0.603392,0.350776,as of my knowledge cutoff date in october 2023...,Jeff Bezos did not sell Amazon. He founded Ama...,Repeat,https://en.wikipedia.org/wiki/Amazon_(company)...,Jeff Bezos is still the current owner of Amazon.,When did Jeff Bezos sell Amazon?
4,4,0,0.792904,0.953715,0,0.953715,0.792904,"as of my last update in october 2023, there ar...",The Eurozone consists of 19 member states with...,There are 20 member states in the Eurozone.,https://en.wikipedia.org/wiki/Eurozone#:~:text...,20,How many member states are there in the Eurozone?

In [ ]:
data.describe()

,Unnamed: 0,Judges_over_base,Follows_over_rag,Follows_over_base,Judges_over_rag,Controdicts_over_base,Controdicts_over_rag
count,33.000000,33.0,33.000000,33.000000,33.0,33.000000,33.000000
mean,7.757576,0.0,0.200030,0.115608,0.0,0.115608,0.200030
std,4.841425,0.0,0.491886,0.394356,0.0,0.394356,0.491886
min,0.000000,0.0,-0.964923,-0.996992,0.0,-0.996992,-0.964923
25%,4.000000,0.0,0.005762,-0.075201,0.0,-0.075201,0.005762
50%,8.000000,0.0,0.287820,0.030337,0.0,0.030337,0.287820
75%,12.000000,0.0,0.418390,0.285152,0.0,0.285152,0.418390
max,16.000000,0.0,0.994754,0.985688,0.0,0.985689,0.994753

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             33 non-null     int64
 1   Judges_over_base       33 non-null     int64
 2   Follows_over_rag       33 non-null     float64
 3   Follows_over_base      33 non-null     float64
 4   Judges_over_rag        33 non-null     int64
 5   Controdicts_over_base  33 non-null     float64
 6   Controdicts_over_rag   33 non-null     float64
 7   base_line              33 non-null     object
 8   graph                  33 non-null     object
 9   rag                    33 non-null     object
 10  source                 33 non-null     object
 11  answer                 33 non-null     object
 12  question               33 non-null     object
dtypes: float64(4), int64(3), object(6)
memory usage: 3.6+ KB

In [ ]:
data.iloc[4]

Unnamed: 0                                                               4
Judges_over_base                                                         0
Follows_over_rag                                                  0.792904
Follows_over_base                                                 0.953715
Judges_over_rag                                                          0
Controdicts_over_base                                             0.953715
Controdicts_over_rag                                              0.792904
base_line                as of my last update in october 2023, there ar...
graph                    The Eurozone consists of 19 member states with...
rag                            There are 20 member states in the Eurozone.
source                   https://en.wikipedia.org/wiki/Eurozone#:~:text...
answer                                                                  20
question                 How many member states are there in the Eurozone?
Name: 4, dtype: object

In [ ]:
data.to_csv("combined.csv")

In [ ]:
GraphCreation.textformatting.token_compression(['scientist', 'token',"triplets","Alexander","knowledege Graphs","graphs","greater"])

{'token': 'token',
 'Alexander': 'Alexander',
 'graphs': 'graphs',
 'greater': 'greater',
 'scient': 'scientist',
 'trip': 'triplets',
 'know': 'knowledege Graphs'}

In [ ]:
print(['scientist', 'token',"triplets","Alexander","knowledege Graphs","graphs","greater"])

['scientist', 'token', 'triplets', 'Alexander', 'knowledege Graphs', 'graphs', 'greater']

In [ ]:
data = pd.read_csv("fresh.csv")
data.iloc[386:]

,id,split,question,effective_year,next_review,false_premise,num_hops,fact_type,source,answer_0,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,answer_7,answer_8,answer_9,note
386,386,TEST,Who is the latest winner of The Voice US?,2024,frequently,False,one-hop,fast-changing,https://en.wikipedia.org/wiki/The_Voice_(Ameri...,Asher HaVon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,387,TEST,How many goals did Kylian Mbappé score in the ...,2024,frequently,False,one-hop,fast-changing,https://en.as.com/resultados/ficha/deportista/...,6 goals,6,six goals,six,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,388,TEST,Who is the current ATP top-ranked men's single...,2024,frequently,False,one-hop,fast-changing,https://en.wikipedia.org/wiki/List_of_ATP_numb...,Jannik Sinner,Sinner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,389,TEST,What is the latest highest-grossing movie of t...,2024,every_time,False,one-hop,fast-changing,https://www.boxofficemojo.com/weekly/?ref_=bo_...,Bad Boys: Ride or Die,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,390,TEST,How many tornadoes have been confirmed so far ...,2024,every_time,False,one-hop,fast-changing,https://en.wikipedia.org/wiki/Tornadoes_of_202...,986,There have been 986 confirmed tornadoes in the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,595,DEV,What is the current age of the oldest singles ...,2024,05/22/2025,False,multi-hop,fast-changing,https://en.wikipedia.org/wiki/ATP_Finals#Young...,37 years old,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,596,DEV,How many accounts have exceeded 100 million fo...,2023,frequently,False,multi-hop,fast-changing,https://en.wikipedia.org/wiki/List_of_most-fol...,39,39 accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,597,DEV,Is the current water level of Lake Powell abov...,2023,every_time,False,multi-hop,fast-changing,https://powell.uslakes.info/Level/#:~:text=Pow...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,598,DEV,What is the most powerful processor on the lat...,2023,09/01/2024,False,multi-hop,fast-changing,https://browser.geekbench.com/ios-benchmarks#:...,Apple A17 Pro,Apple A17 Pro @ 3.8 GHz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,599,DEV,When was the most recent winner of the Tour de...,2022,frequently,False,multi-hop,fast-changing,https://en.wikipedia.org/wiki/List_of_Tour_de_...,1996,"Dec 10, 1996","December 10, 1996",10 Dec 1996,10 December 1996,12/10/1996,12-10-1996,10/12/1996,10-12-1996,1996/12/10,NaN